.background {
  width: 100%;
  height: 200px;
  background-image: url('https://media.rbcdn.ru/media/news/hackernews_A01O2t7.png');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

@media screen and (max-width: 768px) {
  .background {
    height: 150px;
  }
}

@media screen and (max-width: 480px) {
  .background {
    height: 100px;
  }
}
